<div>
	<h3>
		Question {{question.id}} of {{globals.quizArray.length}}
	</h3>
  <hr/>
	<p class='question-lbl'>{{ question.question }}</p>
	<p class='option-p' *ngFor="let option of question.options; let i = index">
		<input type="radio" id='{{i}}' name="radiogroup" [(ngModel)]="selectedAnswer" [value]="option" (change)="onSelectionChange(option)">
		<label [attr.for]='i'>{{ option }}</label>
  <p>
  <p class='align-center'> 
    <button class='prev-nxt-button' (click)='previous()'>{{btnPrevLabel}}</button>
    <button class='prev-nxt-button' (click)='next()'>{{btnNextLabel}}</button>
  </p>
</div>